/*-----Botones de la Pagina-----*/

/*Boton del Menu*/

@media(min-width: 1281px) {
    .menu-btn {
        display: none;
    }
}

.menu-btn__burger {
    width: 50px;
    height: 2px;
    background: var(--text-1);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--text-1);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
    background: var(--text-2);
}

/* Animacion del Boton del Menu */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*----------Animaciones de los botones----------*/

/*-----Animaciones desde la Izquierda-----*/

.from-left:before,
.from-left:after,
.from-left-footer:before,
.from-left-footer:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--text-1);
    border-left: 0;
    border-right: 0;
}

.from-left:after,
.from-left-footer:after  {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after,
.from-left-footer:hover:before,
.from-left-footer:hover:after {
    width: 100%;
}

.from-left-footer:before {
    right: 0;
    border: 1px solid var(--text-2);
    border-left: 0;
    border-right: 0;
}

/*-----Animaciondes desde Abajo-----*/

.from-bottom:before,
.from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
    z-index: -1;
}

.from-bottom:before {
    top: 0;
    border: 1px solid var(--text-2);
    border-top: 0;
    border-bottom: 0;
}

.from-bottom:after {
    bottom: 0;
    height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
    height: 100%;
    z-index: -1;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
    height: 100%;
    z-index: -1;
}

/*Boton del parallax de la pagina*/

.parallax-btn {
    padding: 1.4rem 4.2rem;
    color: var(--text-1);
    border: 1px solid var(--text-1);
    letter-spacing: 1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    width: 60%;
    align-self: center;
    text-align: center;
    z-index: 10;
}

.parallax-btn:before,
.parallax-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.parallax-btn:hover {
    color: var(--text-2);
    transition-delay: .5s;
}

.parallax-btn:hover:before {
    transition-delay: 0s;
}

.parallax-btn:hover:after {
    background: var(--text-1);
    transition-delay: .35s;
    z-index: -1;
}

/*Boton de la barra de navegacion para cambiar de paginas*/

.nav-btn {
    position: relative;
    color: var(--text-2);
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.nav-btn:before,
.nav-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.nav-btn:hover {
    color: var(--text-1);
    transition-delay: .5s;
}

.nav-btn:hover:before {
    transition-delay: 0s;
    z-index: -1;
}

.nav-btn:hover:after {
    background: var(--clear-btn-1);
    transition-delay: .35s;
}

/* Boton del footer con los links*/

.footer-btn {
    position: relative;
    padding: 1.4rem 0rem;
    color: var(--text-1);
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    grid-column: 14/19;
    align-self: baseline;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: 5% 15% 75% 5%;
}

.footer-btn a {
    color: var(--text-2);
    grid-column: 2/3;
    align-self: center;
}

.footer-btn h4 {
    grid-column: 3/4;
}

.footer-btn:before,
.footer-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.footer-btn:hover {
    color: var(--text-2);
    transition-delay: .5s;
}

.footer-btn:hover:before {
    transition-delay: 0s;
}

.footer-btn:hover:after {
    background: var(--clear-btn-1);
    transition-delay: .35s;
    width: 100.5%;
}

/*Boton de la pagina de redes sociales*/

.social-btn {
    position: relative;
    padding: 1.4rem 0rem;
    color: var(--text-1);
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    grid-column: 14/19;
    align-self: baseline;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: 5% 15% 75% 5%;
}

.social-btn a {
    color: var(--text-1);
    grid-column: 2/3;
    align-self: center;
}

.social-btn h4 {
    grid-column: 3/4;
}

.social-btn:before,
.social-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.social-btn:hover {
    color: var(--text-1);
    transition-delay: .5s;
}

.social-btn:hover:before {
    transition-delay: 0s;
}

.social-btn:hover:after {
    background: var(--dark-clear-btn-1);
    transition-delay: .35s;
    width: 100.5%;
}

/* Boton que redirige a los articulos individuales*/

.article-btn {
    position: relative;
    padding: 1.4rem 0rem;
    color: var(--text-1);
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    align-self: flex-end;
    text-align: center;
    z-index: 2;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 5% 15% 75% 5%;
}

.article-btn a {
    color: var(--text-2);
    grid-column: 2/3;
    align-self: center;
}

.article-btn h4 {
    grid-column: 3/4;
}

.article-btn:before,
.article-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.article-btn:hover {
    color: var(--text-2);
    transition-delay: .5s;
}

.article-btn:hover:before {
    transition-delay: 0s;
}

.article-btn:hover:after {
    background: var(--clear-btn-1);
    transition-delay: .35s;
    width: 100.5%;
}

/* Boton de las paginas de las galerias*/

.gallery-btn {
    position: relative;
    padding: 1.4rem 0rem;
    color: var(--text-1);
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    margin-top: 2rem;
    align-self: baseline;
    text-align: center;
    z-index: 1;
    display: grid;
    grid-template-columns: 5% 15% 75% 5%;
}

.gallery-btn a {
    color: var(--text-2);
    grid-column: 2/3;
    align-self: center;
}

.gallery-btn h4 {
    grid-column: 3/4;
}

.gallery-btn:before,
.gallery-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.gallery-btn:hover {
    color: var(--text-2);
    transition-delay: .5s;
}

.gallery-btn:hover:before {
    transition-delay: 0s;
}

.gallery-btn:hover:after {
    background: var(--clear-btn-1);
    transition-delay: .35s;
    width: 100.5%;
}

/*Boton de la pagina de error*/

.error-btn {
    position: relative;
    color: var(--text-2);
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.error-btn:before,
.error-btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.error-btn:hover {
    color: var(--text-1);
    transition-delay: .5s;
}

.error-btn:hover:before {
    transition-delay: 0s;
    z-index: -1;
}

.error-btn:hover:after {
    background: var(--clear-btn-1);
    transition-delay: .35s;
}
