/*Estructura Basica*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Titulo;
    src: url(../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: block;
}

@font-face {
    font-family: SubTitulo;
    src: url(../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: block;
}

@font-face {
    font-family: Texto;
    src: url(../Fonts/Lato/Lato-Light.ttf);
    font-display: block;
}

@font-face {
    font-family: Links;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: Texto-2;
    src: url(../Fonts/Lato/Lato-Thin.ttf);
    font-display: block;
}

@font-face {
    font-family: Texto-3;
    src: url(../Fonts/Lato/Lato-Black.ttf);
    font-display: block;
}

:root {
    /*Modo Claro*/
    --clear: rgba(255, 255, 255, 0.9);
    --clear-nav: rgba(255, 255, 255, 0.75);
    --text-1: #ffffff;
    --text-2: #222222;
    --background-1: #ffffff;
    --background-2: #262626;
    --clear-btn-1: rgba(0, 0, 0, 0.2);

    /*Modo Oscuro*/
    --dark-clear: rgba(32, 32, 32, 0.9);
    --dark-clear-nav: rgba(32, 32, 32, 0.75);
    --dark-text-1: #ffffff;
    --dark-text-2: #ffffff;
    --dark-background-1: #111111;
    --dark-background-2: #262626;
    --dark-clear-btn-1: rgba(255, 255, 255, 0.2);
}

body.theme-dark {
    --clear: var(--dark-clear);
    --clear-nav: var(--dark-clear-nav);
    --text-1: var(--dark-text-1);
    --text-2: var(--dark-text-2);
    --background-1: var(--dark-background-1);
    --background-2: var(--dark-background-2);
    --clear-btn-1: var(--dark-clear-btn-1);
}


@media (prefers-color-scheme: light) {
    body.theme-light {
        --clear: rgba(255, 255, 255, 0.9);
        --clear-nav: rgba(255, 255, 255, 0.75);
        --text-1: #ffffff;
        --text-2: #222222;
        --background-1: #ffffff;
        --background-2: #262626;
        --clear-btn-1: rgba(0, 0, 0, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --clear: var(--dark-clear);
        --clear-nav: var(--dark-clear-nav);
        --text-1: var(--dark-text-1);
        --text-2: var(--dark-text-2);
        --background-1: var(--dark-background-1);
        --background-2: var(--dark-background-2);
        --clear-btn-1: var(--dark-clear-btn-1);
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background: var(--background-1);
    overflow-x: hidden;
    transition: all 400ms;
    max-width: 100vw;
}

.contenido {
    opacity: 0;
    background: #1b1b1b;
    max-width: 100vw;
    overflow-x: hidden;
}

.content {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}


#logo,
#logo2 {
    font-family: 'Titulo';
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 400;
}

#loader {
    font-family: 'Titulo';
    font-size: 2.2rem;
    font-weight: 200;
}

h1 {
    font-family: 'Titulo';
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-family: 'Subtitulo';
    font-size: 2rem;
}

h3 {
    font-family: 'Texto';
    font-size: 1.4rem;
    font-weight: bold;
}

h4 {
    font-family: 'Links';
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

h5 {
    font-family: 'Titulo';
    font-size: 2rem;
    font-weight: 500;
}

h6 {
    font-family: 'Titulo';
    font-size: 1.5rem;
    font-weight: 200;
}

time {
    font-family: 'Texto';
    font-size: 1.2rem;
    font-weight: 200;
}

figcaption {
    font-family: 'Texto';
    font-size: 1rem;
    font-weight: 800;
}

a {
    font-family: 'Links';
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

p {
    font-family: 'Texto';
    font-size: 1.2rem;
    margin-top: 1rem;
}

blockquote {
    font-family: 'Texto';
    font-size: 2.2rem;
}

cite {
    font-family: 'Subtitulo';
    font-style: italic;
    font-size: 2rem;
    display: block;
}

date {
    font-family: 'Links';
    font-size: 1.2rem;
    left: 0;
    color: #777;
}

b {
    font-family: 'Texto-3';
}

figcaption {
    font-family: 'Texto-2';
    font-size: 1rem;
}

/*Ajustar tamaño de la letra para Dispositivos Moviles*/

@media (max-width: 8.5in) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.5in) {
    :root {
        font-size: 12px;
    }
}

@media(max-width: 1280px) {
    html {
        overflow-x: hidden;
    }
}

