/* Pagina de las Imagenes*/

.Nav-Space {
    display: block;
    grid-column: 1/3;
    height: 4rem;
}

.NavBar-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 5;
    background: var(--clear);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-2 {
    color: var(--text-2);
    position: relative;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 300;
    padding-left: 1rem;
}

.back {
    color: var(--text-2);
    display: block;
    font-size: 1.4rem;
    padding-right: 1rem;
    transform: translateX(0);
}

.pagina-imagen {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5rem 1fr 10rem;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--text-2);
    background-color: var(--background-1);
}

.texto-pagina-imagen {
    grid-column: 1/1;
    grid-row: 2/3;
    background: var(--background-1);
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 15% 15% 10% 10% 10% 5%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.texto-pagina-imagen p {
    text-align: justify;
    text-justify: inter-word;
}

.imagen-completa {
    grid-column: 2/2;
    grid-row: 2/3;
    background: var(--background-1);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 4rem;
}

.imagen-galeria {
    opacity: 0;
}

.text-part-img {
    grid-column: 2/10;
    grid-row: 1/10;
    padding: 4rem 1rem;
    width: 100%;
}

.cta {
    display: block;
    padding: 2em 2em 2em 0;
    font-size: 1.4em;
}

.size-0 {
    box-sizing: border-box;
    width: 90%;
    height: 70vh;
    transition: 0.5s;
    padding: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.size-1 {
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    transition: 0.5s;
    padding: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.size-2 {
    box-sizing: border-box;
    width: 50%;
    height: 50vh;
    transition: 0.5s;
    padding: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.size-3 {
    box-sizing: border-box;
    width: 33.33%;
    height: 50vh;
    transition: 0.5s;
    padding: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.size-6 {
    box-sizing: border-box;
    width: 66.66%;
    height: 50vh;
    transition: 0.5s;
    padding: .5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.text-1 {
    box-sizing: border-box;
    width: 33.33%;
    height: 50vh;
    padding: 1rem 2rem 1rem 1rem;
    color: var(--text-2);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}

.img-galeria {
    grid-row: 1/3;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.img-galeria img {
    height: 100%;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/3;
    object-fit: cover;
    transition: 0.35s ease-in-out all;
}

.imagen-galeria:hover img {
    transform: scale(1.15);
}

.imagen-galeria:hover .img-galeria:before {
    opacity: 1;
}

.imagen-galeria .img-galeria:before {
    content: '';
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #262626;
    backdrop-filter: blur(4px);
    opacity: 0;
    mix-blend-mode: multiply;
    transition: 0.5s;
}

.info {
    grid-row: 1/3;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    color: var(--text-1);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text-img {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.info h3 {
    color: var(--text-1);
    transition: 0.6s;
    text-transform: uppercase;
    font-size: 1.6rem;
    transform: translateY(20rem);
    opacity: 0;
    z-index: 3;
}

.imagen-galeria:hover .info h3 {
    transform: translateY(0);
    transition-delay: 0.4s;
    opacity: 1;
}

.info p {
    color: var(--text-1);
    transition: 0.6s;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1rem;
    transform: translateY(20rem);
    opacity: 0;
    z-index: 3;
}

.imagen-galeria:hover .info p {
    transform: translateY(0);
    transition-delay: 0.5s;
    opacity: 1;
}

.img-btn {
    color: var(--text-1);
    margin-top: 2.5rem;
    transition: 0.6s;
    font-size: 1.6rem;
    transform: translateY(20rem);
    opacity: 0;
    align-self: center;
    cursor: pointer;
    z-index: 1;
}

.imagen-galeria:hover .info .img-btn {
    transform: translateY(0);
    transition-delay: 0.4s;
    opacity: 1;
}



/*Contenido de la Pagina de las Imagenes Responsive*/

@media(max-width: 1280px) {

    .pagina-imagen,
    .pagina-articulo {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .texto-pagina-imagen {
        margin-top: 4rem;
        display: block;
        padding: 1rem;
    }

    .imagen-completa {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 19%;
    }

    .texto-pagina-imagen {
        width: 100%;
        min-height: 50vh;
    }

    .size-0,
    .size-1,
    .size-2,
    .size-3,
    .size-6 {
        box-sizing: border-box;
        width: 90%;
        height: 70vh;
        transition: 0.5s;
        padding: .5rem;
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 50%;
    }

    .text-1 {
        box-sizing: border-box;
        width: 90%;
        height: 35vh;
        padding: 1rem 1rem 1rem 2rem;
    }
}

/*Mapa de la zona del texto*/

.img-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 40vh;
    display: block;
    padding: 0 1rem;
}

.img-text .image-mask {
    width: 100%;
    height: 100%;
    background: url('../Multimedia/Maps/Region.webp');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.img-text .image-mask img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*-----Footer Secundario-----*/

.footer-sec {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 4rem;
    color: var(--text-2);
    background: var(--background-1);
    font-size: 2rem;
    height: 10rem;
    width: 100%;
    width: 100%;
    padding: 0;
}

.footer-sec a {
    color: var(--text-2);
}

.TextoPequeño-Sec {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--text-1);
    background-color: #1b1b1b;
}

.Social-Footer-Sec {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 45% 5% 40% 5%;
    grid-template-rows: 15% 75% 10%;
}

.Social-Footer-Sec .footer-btn {
    position: relative;
    padding: 1.4rem 0rem;
    color: var(--text-1);
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    grid-column: 14/19;
    align-self: baseline;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: 3% 10% 85% 2%;
}

.Social-Footer-Sec .footer-btn:hover {
    color: var(--text-2);

}

.Social-Footer-Sec #Instagram-Sec {
    grid-row: 2/3;
    grid-column: 2/3;
}

.Social-Footer-Sec #Twitter-Sec {
    grid-row: 2/3;
    grid-column: 4/5;
}

.controler-section-sec {
    grid-column: 1/2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    font-family: Texto;
    font-weight: 900;
}

.controler-section-sec .mode-section i {
    font-size: 1.2rem;
}

@media(max-width: 1280px) {
    .footer-sec {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Social-Footer-Sec {
        width: 100%;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 48% 4% 48%;
    }

    .Social-Footer-Sec #Instagram-Sec {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .Social-Footer-Sec #Twitter-Sec {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .TextoPequeño-Sec {
        height: 4rem;
        width: 100%;
    }

    .controler-section-sec {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
