/*Estructura Basica*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Titulo;
    src: url(../Fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: block;
}

@font-face {
    font-family: Texto;
    src: url(../Fonts/Fahkwang-ExtraLight.ttf);
    font-display: block;
}

@font-face {
    font-family: SubTitulo;
    src: url(../Fonts/Fahkwang-SemiBold.ttf);
    font-display: block;
}

:root {
    /*Modo Claro*/
    --clear: rgba(255, 255, 255, 0.95);
    --clear-nav: rgba(255, 255, 255, 0.75);
    --text-1: #ffffff;
    --text-2: #222222;
    --background-1: #ffffff;
    --background-2: #262626;
    --clear-btn-1: rgba(0, 0, 0, 0.2);

    /*Modo Oscuro*/
    --dark-clear: rgba(32, 32, 32, 0.95);
    --dark-clear-nav: rgba(32, 32, 32, 0.75);
    --dark-text-1: #ffffff;
    --dark-text-2: #ffffff;
    --dark-background-1: #111111;
    --dark-background-2: #262626;
    --dark-clear-btn-1: rgba(255, 255, 255, 0.2);
}

body.theme-dark {
    --clear: var(--dark-clear);
    --clear-nav: var(--dark-clear-nav);
    --text-1: var(--dark-text-1);
    --text-2: var(--dark-text-2);
    --background-1: var(--dark-background-1);
    --background-2: var(--dark-background-2);
    --clear-btn-1: var(--dark-clear-btn-1);
}


@media (prefers-color-scheme: light) {
    body.theme-light {
        --clear: rgba(255, 255, 255, 0.9);
        --clear-nav: rgba(255, 255, 255, 0.75);
        --text-1: #ffffff;
        --text-2: #222222;
        --background-1: #ffffff;
        --background-2: #262626;
        --clear-btn-1: rgba(0, 0, 0, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --clear: var(--dark-clear);
        --clear-nav: var(--dark-clear-nav);
        --text-1: var(--dark-text-1);
        --text-2: var(--dark-text-2);
        --background-1: var(--dark-background-1);
        --background-2: var(--dark-background-2);
        --clear-btn-1: var(--dark-clear-btn-1);
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

body {
    background: var(--background-1);
    transition: all 400ms;
}

#loader {
    font-family: 'Titulo';
    font-size: 2.2rem;
    font-weight: 200;
}

h1 {
    font-family: 'Titulo';
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-family: 'Titulo';
    font-size: 2rem;
}

h3 {
    font-family: 'Titulo';
    font-size: 1.4rem;
}

h5 {
    font-family: 'Titulo';
    font-size: 2rem;
    font-weight: 500;
}

h6 {
    font-family: 'Titulo';
    font-size: 1.5rem;
    font-weight: 200;
}

time {
    font-family: 'Texto';
    font-size: 1.2rem;
    font-weight: 200;
}

figcaption {
    font-family: 'Texto';
    font-size: 1rem;
    font-weight: 800;
}

a {
    font-family: 'Texto';
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

li {
    font-family: 'Texto';
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

p {
    font-family: 'Texto';
    font-size: 1.2rem;
    margin-top: 1rem;
}


b {
    font-family: 'SubTitulo';
    font-size: 1.2rem;
    text-decoration: none;
}

blockquote {
    font-family: 'Texto';
    font-size: 2.2rem;
}

cite {
    font-family: 'Titulo';
    font-style: italic;
    font-size: 2rem;
    display: block;
}

date {
    font-family: 'Texto';
    font-size: 1.2rem;
    left: 0;
    color: #777;
}

figcaption {
    font-family: 'Texto';
    font-size: 1rem;
}

img {
    width: 100px;
    height: auto;
}

.contenido {
    opacity: 0;
    background: #1b1b1b;
    width: 100vw;
    overflow-x: hidden;
}

.has-scroll-smooth {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*Ajustar tamaño de la letra para Dispositivos Moviles*/

@media (max-width: 8.5in) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.5in) {
    :root {
        font-size: 12px;
    }
}

@media(max-width: 600px) {
    html {
        overflow-x: hidden;
    }
}

/*-----Animacion de Cambio de Pagina-----*/

.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.transition {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0;
    z-index: 1;
}

.loader-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.loader-img img {
    width: 100%;
    height: 100%;
}

.first-block {
    width: 0%;
    height: 100vh;
    background: #1b1b1b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.second-block {
    width: 0%;
    height: 100vh;
    background: #1b1b1b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/*-----Barra de Navegacion-----*/
@media(min-width: 1px) {

    .nav-bar {
        width: 100vw;
        height: 6vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        z-index: 101;
        padding: 0em 2em;
        transition: 0.6s;
        backdrop-filter: blur(4px);
        color: var(--text-2);
    }

    .nav-bar.sticky {
        background: var(--clear);
        max-height: 5rem;
        color: var(--text-2);
        backdrop-filter: blur(4px);
    }

    #menu-toggle-btn {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 10;
    }

    .menu-btn {
        height: 2px;
        width: 2rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        transition: all 0.3s;
        background: var(--text-2);
    }

    .menu-btn::before {
        content: "";
        height: 2px;
        width: 2rem;
        display: inline-block;
        position: absolute;
        transform: translateY(-6px);
        transition: all 0.3s;
        background: var(--text-2);
        top: -2px;
    }

    .active .menu-btn {
        transform: rotate(45deg);
        background: var(--text-2);
    }

    .active .menu-btn::before {
        top: unset;
        transform: rotate(-90deg);
        background: var(--text-2);
    }

    .active:hover .menu-btn::before {
        top: unset;
    }

    .logo-text {
        color: var(--text-2);
    }

    .nav-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        color: var(--text-2);
        background: var(--clear);
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        z-index: 100;
    }

    .nav {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-logo {
        font-family: Titulo;
        font-size: 80px;
        color: var(--text-2);
    }

    .nav-socials {
        display: flex;
        flex-direction: column;
    }

    .nav-socials a {
        text-decoration: none;
        color: var(--text-2);
        font-family: Texto;
        padding: .3em .4em;
    }

    .nav-section-link {
        position: relative;
    }

    .nav-section-link a {
        position: relative;
        text-decoration: none;
        color: var(--text-2);
        font-size: 4rem;
        font-family: Texto;
    }

    .nav-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 2em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-footer a {
        text-decoration: none;
        color: var(--text-2);
        font-size: 18px;
        font-family: Texto;
    }
}

@media(max-width: 600px) {
    .nav {
        flex-direction: column-reverse;
    }

    .nav-bar {
        background: var(--clear);
        color: var(--text-2);
        backdrop-filter: blur(4px);
    }

    .nav-logo {
        display: none;
    }

    .nav-footer {
        display: none;
    }

    .nav-section-link {
        padding: 1rem 0;
    }

    .nav-section-link a {
        font-size: 3rem;
    }

    .social-links {
        margin-top: 6rem;
    }

    .nav-socials a {
        padding: 1rem 0;
    }
}

.Contenido {
    min-height: 100vh;
    width: 100vw;
    color: var(--text-1);
    background: #111111;
}

.Contenido section {
    min-height: 70vh;
    width: 100vw;
}

/*Home Area (Parallax)*/
@media(min-width: 1px) {
    .home-area {
        background: var(--background-1);
        color: var(--text-2);
        height: 130vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .home-image-container {
        width: 100vw;
        height: 100%;
        z-index: 1;
        overflow: hidden;
    }

    .home-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .home-text-container {
        color: var(--text-1);
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 40vh;
        height: 40vh;
        padding: 1rem;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        z-index: 3;
    }

    #txt-home-1 {
        font-size: 3rem;
        font-weight: 300;
        color: var(--text-1);
    }

    #txt-home-2 {
        font-size: 2rem;
        font-weight: 100;
        margin-top: 2rem;
        color: var(--text-1);

    }

    #txt-home-3 {
        font-size: 4rem;
        font-weight: 100;
        transform: rotate(90deg);
        margin-top: 2rem;
        color: var(--text-1);

    }

    .btn-home a {
        text-decoration: none;
        color: var(--text-1);
    }
}

@media(max-width: 600px) {
    .home-area {
        height: 110vh;
    }

    .home-image-container {
        width: 110vw;
        height: 100%;
        z-index: 1;
    }

    .home-image {
        height: 100%;
    }
}

/*Photo Area (Destacados)*/
@media(min-width: 1px) {
    .photo-area {
        display: flex;
        padding: 2rem;
        background-color: var(--background-2);
        min-height: 100vh;
    }

    .photo-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }

    .photo-section {
        flex: 1;
        overflow: hidden;
        transition: all 400ms;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        cursor: pointer;
    }


    .img_wrapper {
        width: 100%;
        height: 100%;
    }

    .img_wrapper img {
        top: 0;
        left: 0;
        transform: scale(1.4);

        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .photo-section:hover .img_wrapper img {
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        height: 100%;
        width: 100%;
    }

    .photo-text-container {
        position: absolute;
        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 2;
        overflow: hidden;
    }

}

@media(max-width: 600px) {

    .photo-area {
        min-height: 120vh;
        padding: 1.3rem;
    }

    .photo-container {
        min-height: 120vh;
        flex-direction: column;
        align-items: normal;
    }

    .photo-section {
        flex: 33% !important;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .photo-section.open-section {
        flex: 55% !important;
        display: grid !important;
        grid-template-rows: 40% 60%;
    }

    .photo-text-container {
        width: calc(100% - 2.6rem);
    }

    .photo-section.open-section .photo-text-container {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }

    .photo-section.open-section .img_wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
    }

    .img_wrapper img,
    .photo-section:hover .img_wrapper img {
        transform: scale(1.2);
        object-fit: cover;
    }

    .photo-section.open-section .img_wrapper img,
    .photo-section.open-section:hover .img_wrapper img {
        transform: scale(1);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


}

/*---Open Section---*/
@media(min-width: 1px) {
    .photo-section.open-section {
        flex: 95vh;
        transition: all .2s;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        cursor: auto;
    }

    .photo-section.open-section .img_wrapper {
        flex: 6;
        cursor: pointer;
    }

    .photo-section.open-section .img_wrapper img {
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .photo-section.open-section .photo-text-container {
        position: relative;
        flex: 4;
        height: 100%;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--background-1);
    }

    .photo-title {
        opacity: 1;
        color: var(--text-1);
    }

    .photo-text-secondary {
        width: 100%;
        padding: .5rem;
        height: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .photo-section.open-section .photo-title {
        display: none;
    }

    .photo-section.open-section .photo-text-secondary {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        color: var(--text-2);
    }

    .photo-text,
    .photo-secondary-title {
        opacity: 0;
        transition: all .4s;
    }

    .photo-section.open-section .photo-text,
    .photo-section.open-section .photo-secondary-title {
        opacity: 1;
    }

    
    .photo-text-secondary .article-btn a{
        color: var(--text-2);
    }

    .photo-text-secondary .from-left:before {
        border: 1px solid var(--text-2);
        border-left: 0;
        border-right: 0;
    }

    .photo-text-secondary .article-btn:hover:after {
        background: var(--clear-btn-1);
    }
}

/*-----Articles Area (Articulos)-----*/

@media(min-width: 1px) {
    .articles-area {
        padding: 1.3rem;
        background-color: var(--background-1);
    }

    .Article-Section {
        grid-column: 2/20;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 50vh;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        background-color: var(--background-2);
        color: var(--text-2);
    }

    .Article-Section-Img {
        width: 100%;
        overflow: hidden;
        grid-column: 1/2;
        transition: 0.3s ease-in-out all;
    }

    .Article-Section-Txt {
        grid-column: 2/3;
        height: 100%;
        display: flex;
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 2rem 3rem;
        color: var(--text-1);
    }

    .Article-Section-Txt h2 {
        padding: 1rem 0 .5rem 0;
    }

    .Article-Section-Img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .Article-Section-Img {
        z-index: 2;
        padding: 0;
        overflow: hidden;
    }

    .Article-Section-Img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        transition: 0.35s ease-in-out all;
    }

    .Article-Section-Img:hover img {
        z-index: 2;
        transform: scale(1.2);
    }

    .Article-Section-Img .img-middle {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .Article-Section-Img .MoreBtn {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .Article-Section-Img .MoreBtn a {
        opacity: 0;
        transform: rotate(45deg);
        transition: .8s;
        font-size: 4rem;
        color: var(--text-1);
        padding: 10rem;
    }

    .Article-Section-Img .img-middle:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #262626;
        backdrop-filter: blur(2px);
        opacity: 0;
        mix-blend-mode: multiply;
        transition: 0.5s;
    }

    .Article-Section-Img:hover .img-middle:before {
        opacity: 1;
    }

    .Article-Section-Img:hover a {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@media(max-width: 600px) {
    .Article-Section {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        height: 90vh;
        overflow: hidden;
    }

    .Article-Section-Img {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100% !important;
    }

    .Article-Section-Img img {
        height: 100%;
        width: 100%;
    }

    .Article-Section-Txt {
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem;
    }


    .Article-Section-Txt h2 {
        padding: 0;
    }

}

/*Animacion Botones*/
@media(min-width: 1px) {
    .article-btn {
        position: relative;
        padding: 1rem 1.2rem;
        color: var(--text-1);
        text-transform: uppercase;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        cursor: pointer;
        user-select: none;
        align-self: flex-end;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .8rem;
    }

    .article-btn a {
        color: var(--text-1);
        grid-column: 2/3;
        align-self: center;
    }

    .article-btn p {
        grid-column: 3/4;
    }

    .article-btn:before,
    .article-btn:after {
        content: '';
        position: absolute;
        transition: inherit;
        z-index: -1;
    }

    .article-btn:hover {
        color: var(--text-1);
        transition-delay: .5s;
        z-index: 2;
    }

    .article-btn:hover:before {
        transition-delay: 0s;
    }

    .article-btn:hover:after {
        background: var(--dark-clear-btn-1);
        transition-delay: .35s;
        width: 100.5%;
    }

    .from-left:before,
    .from-left:after,
    .from-left-footer:before,
    .from-left-footer:after {
        top: 0;
        width: 0;
        height: 100%;
    }

    .from-left:before,
    .from-left-footer:before {
        right: 0;
        border: 1px solid var(--text-1);
        border-left: 0;
        border-right: 0;
    }

    .from-left:after,
    .from-left-footer:after {
        left: 0;
    }

    .from-left:hover:before,
    .from-left:hover:after,
    .from-left-footer:hover:before,
    .from-left-footer:hover:after {
        width: 100%;
    }

    .footer-btn {
        position: relative;
        padding: 1.4rem 0rem;
        color: var(--text-1);
        letter-spacing: 0.6rem;
        text-transform: uppercase;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        cursor: pointer;
        user-select: none;
        grid-column: 14/19;
        align-self: baseline;
        text-align: center;
        z-index: 10;
        display: grid;
        grid-template-columns: 5% 15% 75% 5%;
    }

    .footer-btn a {
        color: var(--text-2);
        grid-column: 2/3;
        align-self: center;
    }

    .footer-btn p {
        grid-column: 3/4;
        overflow: hidden;
        margin: 0;
    }

    .footer-btn:before,
    .footer-btn:after {
        content: '';
        position: absolute;
        transition: inherit;
        z-index: -1;
    }

    .footer-btn:hover {
        color: var(--text-2);
        transition-delay: .5s;
    }

    .footer-btn:hover:before {
        transition-delay: 0s;
    }

    .footer-btn:hover:after {
        background: var(--clear-btn-1);
        transition-delay: .35s;
        width: 100.5%;
    }
}

/*---Animacion Imagenes con texto o boton*/
@media(min-width: 1px) {

    .img-container {
        overflow: hidden;
    }

    .img-contain,
    .img-gallery-contain {
        grid-row: 1/3;
        grid-column: 1/3;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .img-contain img {
        grid-row: 1/3;
        grid-column: 1/3;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .img-gallery-contain img {
        grid-row: 1/3;
        grid-column: 1/3;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.35s ease-in-out all;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .img-gallery-contain:hover img {
        transform: scale(1.2);
    }

    .img-container:hover .img-contain img {
        transform: scale(1.2);
    }

    .img-container:hover .img-contain:before {
        opacity: 1;
    }

    .img-container .img-contain:before {
        content: '';
        grid-row: 1/3;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #262626;
        backdrop-filter: blur(2px);
        opacity: 0;
        mix-blend-mode: multiply;
        transition: 0.5s;
    }

    .img-container .MoreBtn {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        grid-row: 1/3;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
    }

    .img-contain h5 {
        opacity: 0;
        transform: rotate(45deg);
        transition: .8s;
        font-size: 5rem;
        color: var(--text-1);
        padding: 10rem;
    }

    .img-contain:hover h5 {
        opacity: 1;
        transform: rotate(0deg);
    }


    .info {
        grid-row: 1/3;
        grid-column: 1/3;
        height: 100%;
        width: 100%;
        color: var(--text-1);
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text-img {
        width: 60%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
        text-align: center;
    }

    .info h3 {
        color: var(--text-1);
        transition: 0.6s;
        text-transform: uppercase;
        font-size: 1.6rem;
        transform: translateY(20rem);
        opacity: 0;
        z-index: 3;
    }

    .img-container:hover .info h3 {
        transform: translateY(0);
        transition-delay: 0.4s;
        opacity: 1;
    }

    .info p {
        color: var(--text-1);
        transition: 0.6s;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: 1rem;
        transform: translateY(20rem);
        opacity: 0;
        z-index: 3;
    }

    .img-container:hover .info p {
        transform: translateY(0);
        transition-delay: 0.5s;
        opacity: 1;
    }

    .img-btn {
        color: var(--text-1);
        padding: 1.5rem;
        transition: 0.6s;
        font-size: 1.6rem;
        transform: translateY(20rem);
        opacity: 0;
        align-self: center;
        cursor: pointer;
        z-index: 1;
        width: 100%;
        height: auto;
        text-align: -webkit-center;
    }

    .img-container:hover .info .img-btn {
        transform: translateY(0);
        transition-delay: 0.4s;
        opacity: 1;
    }
}

/*-----About Me Area-----*/
@media(min-width: 1px) {
    .about-area {
        background-color: var(--background-2);
        padding: 2rem;
    }

    #About-Me {
        background-color: var(--background-1);
    }

    #About-Me .Article-Section-Txt {
        color: var(--text-2);
    }

    #About-Me .article-btn a{
        color: var(--text-2);
    }

    #About-Me .from-left-footer:before {
        border: 1px solid var(--text-2);
        border-left: 0;
        border-right: 0;
    }

    #About-Me .article-btn:hover:after {
        background: var(--clear-btn-1);
    }
}

@media(max-width: 600px) {}

/*-----Footer Area-----*/
@media(min-width: 1px) {
    .footer-area {
        grid-row: 3/4;
        grid-column: 1/3;
        color: var(--text-2);
        background: var(--background-2);
        width: 100%;
        padding: 0;
    }

    .footer-area a {
        color: var(--text-2);
    }

    .footer-text {
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: var(--text-2);
        background: var(--background-1);
    }

    .footer-social {
        width: 100%;
        height: 14vh;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: var(--background-1);
        z-index: 1;
    }

    .footer-social .footer-btn {
        position: relative;
        padding: 1.4rem 0rem;
        color: var(--text-1);
        letter-spacing: 0.6rem;
        text-transform: uppercase;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        cursor: pointer;
        user-select: none;
        align-self: baseline;
        text-align: center;
        z-index: 10;
        display: grid;
        grid-template-columns: 3% 10% 85% 2%;
    }

    .footer-social .footer-btn:hover {
        color: var(--text-2);

    }

    .footer-social #Instagram-Sec {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .footer-social #Twitter-Sec {
        grid-row: 2/3;
        grid-column: 4/5;
    }

}

@media(max-width: 600px) {
    .footer-area {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1.3rem 1fr 1.3rem;
        grid-template-rows: 1rem 1fr 1rem 1fr 1rem;
    }

    .footer-social #Instagram-Sec {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .footer-social #Twitter-Sec {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .footer-text {
        height: 4rem;
        width: 100%;
    }

}

/*----------Paginas Secundarias----------*/

@media(min-width: 1px) {
    .Nav-Space {
        display: block;
        grid-column: 1/3;
        height: 4rem;
    }

    .NavBar-2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }


    .NavBar-2 .nav-bar {
        max-height: 6vh;
        backdrop-filter: blur(4px);
        background: var(--clear);
        z-index: 101;
    }

    .NavBar-2 .nav-bar.sticky {
        max-height: 6vh;
        backdrop-filter: blur(4px);
    }


    .pagina-articulo {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        overflow-x: hidden;
        color: var(--text-2);
        background-color: var(--background-1);
        text-align: justify;
    }

    .content-article {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr 1fr;
        padding: 0rem 0rem 4rem 0rem;
    }

    .content-article * {
        grid-column: start / end;
    }

    .pagina-articulo .Nav-Space {
        grid-column: 1/3;
    }

    .article-space {
        height: 3.5rem;
        width: 100%;
    }

    .pagina-imagen {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 6vh 1fr 20vh;
        color: var(--text-2);
        background-color: var(--background-1);
    }

    .texto-pagina-imagen {
        background: var(--background-1);
        position: relative;
        width: 100%;
        height: 100%;
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
    }

    .texto-pagina-imagen p {
        text-align: justify;
        text-justify: inter-word;
    }

    .text-part-img {
        margin-top: 8vh;
        width: 90%;
        height: 100%;
    }

    .gallary-page-container {
        background: var(--background-1);
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 4rem;
        gap: .5rem;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .cta {
        display: block;
        padding: 2em 2em 2em 0;
        font-size: 1.4em;
    }

    .text-1 {
        box-sizing: border-box;
        width: calc(33.33% - 1rem);
        height: 50vh;
        padding: 1rem 2rem 1rem 1rem;
        color: var(--text-2);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        text-align: justify;
    }

    .pinText {
        width: 100%;
    }

    .pinText h2 {
        margin-top: 8vh;
    }
}

/*Estructura de las Paginas de los Articulos*/
@media(min-width: 1px) {
    .article-gallery {
        grid-column: 3/8;
        margin-top: 1rem;
        min-height: 60vh;
        overflow: hidden;
        display: flex;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .article-gallery-wide {
        grid-column: 2/9;
        margin-top: 2rem;
        min-height: 60vh;
        overflow: hidden;
        display: flex;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .article-gallery-text {
        height: 60vh;
        width: 48%;
        padding: 0% 2rem;
        margin-bottom: 4%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: stretch;
    }

    .article-title {
        margin-bottom: .2rem;
        font-size: 2.4rem;
        font-weight: 700;
    }

    .article-subtitle {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .content-article p {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .content-article h1 {
        font-size: 2.6rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .content-article h2 {
        font-size: 1.8rem;
    }

    .content-article h3 {
        font-size: 1.8rem;
    }

    .pie-foto {
        margin-top: .7rem;
        margin-bottom: .7rem;
        display: flex;
        justify-content: center;
        padding: 0 .5rem;
        text-align: justify;
    }

    .article-list {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .article-point {
        padding: .6rem .0rem 0.2rem .8rem;
    }

    .article-font {
        text-decoration: none;
        color: var(--text-2);
        margin-top: .5rem;
    }
}

@media(max-width: 600px) {
    .content-article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .content-article h2 {
        width: calc(100% - 2.6rem);
        text-align: center;
    }

    .content-article h3 {
        width: calc(100% - 2.6rem);
        text-align: center;
    }

    .content-article p {
        width: calc(100% - 2.6rem);
    }

    .article-list {
        width: 90%;
        margin-right: 0;
        list-style-type: none;
    }

    .pagina-articulo .Nav-Space {
        width: 100%;
    }

    .pagina-articulo .footer-area {
        width: 100%;
    }

    .pagina-articulo figcaption {
        width: 90%;
    }

    .art-size-1 {
        width: 90%;
    }

    .art-size-2 {
        width: 90%;
    }

    .art-size-3 {
        width: 98%;
    }

    .article-gallery,
    .article-gallery-wide {
        justify-content: space-evenly;
        margin-bottom: 0.8rem;
        margin-top: 0.8rem;
    }

    .article-gallery-img {
        margin-bottom: 2%;
    }

    .article-gallery-img-1 {
        margin-bottom: 2%;
        width: 48%;
    }

    .article-gallery-text {
        height: 15vh;
        width: 98%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .article-font {
        width: 90%;
    }
}

/*Galeria relacionada de las paginas de los Articulos*/
@media(min-width: 1px) {
    .gallery-viewer {
        grid-column: 2/9;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        height: 50vh;
        margin-top: 2.5rem;
        overflow: hidden;
        color: var(--text-1);
        transition: 0.3s ease-in-out all;
    }

    .gallery-viewer-Img {
        width: 100%;
        overflow: hidden;
        grid-column: 1/2;
        transition: 0.3s ease-in-out all;
    }

    .gallery-viewer-Txt {
        grid-column: 2/3;
        height: 100%;
        display: flex;
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 2rem 3rem;
        background-color: var(--background-2);
    }

    .gallery-viewer-Txt h2 {
        padding: 1rem 0 .5rem 0;
    }

    .gallery-viewer-Img {
        z-index: 2;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .gallery-viewer-Img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .gallery-viewer-Img:hover img {
        z-index: 2;
        transform: scale(1.2);
    }

    .gallery-viewer .img-middle {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gallery-viewer .MoreBtn {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .gallery-viewer-Img .MoreBtn a{
        opacity: 0;
        transform: rotate(45deg);
        transition: .8s;
        font-size: 4rem;
        font-weight: 100;
        color: var(--text-1);
        padding: 10rem;
    }

    .gallery-viewer-Img .img-middle:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #262626;
        backdrop-filter: blur(2px);
        opacity: 0;
        mix-blend-mode: multiply;
        transition: 0.5s;
    }

    .gallery-viewer-Img:hover .img-middle:before {
        opacity: 1;
    }

    .gallery-viewer-Img:hover a{
        opacity: 1;
        transform: rotate(0deg);
    }

    .gallery-viewer .article-btn a{
        color: var(--text-1);
    }

    .gallery-viewer .from-left-footer:before{
        border: 1px solid var(--text-1);
        border-left: 0;
        border-right: 0;
        }
}

@media(max-width: 600px) {
    .article-list {
        width: 90%;
        margin-right: 0;
        list-style-type: none;
    }

    .pagina-articulo .Nav-Space {
        width: 100%;
    }

    .pagina-articulo .footer-area {
        width: 100%;
    }

    .pagina-articulo figcaption {
        width: 90%;
    }

    .article-gallery,
    .article-gallery-wide {
        justify-content: space-evenly;
    }

    .article-gallery-img {
        margin-bottom: 2%;
    }

    .article-gallery-img-1 {
        margin-bottom: 2%;
        width: 48%;
    }

    .article-gallery-text {
        height: 15vh;
        width: 98%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .article-font {
        width: 90%;
    }

    .gallery-viewer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        width: calc(100% - 2.6rem);
        height: 90vh;
        overflow: hidden;
    }

    .gallery-viewer-Img {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 100% !important;
    }

    .gallery-viewer-Img img {
        height: 100%;
        width: 100%;
    }

    .gallery-viewer-Txt {
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        padding: 1rem 1.5rem 0rem 1.5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        flex-wrap: nowrap;
    }

    .gallery-viewer-Txt h2 {
        width: 100%;
    }

    .pagina-imagen,
    .pagina-articulo {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .texto-pagina-imagen {
        margin-top: 4rem;
        display: block;
        padding: 1rem;
    }

    .texto-pagina-imagen {
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
    }

    .text-part-img {
        margin-top: 2vh;
        width: calc(100% - 2.6rem);
        height: 100%;
    }

    .text-1 {
        box-sizing: border-box;
        width: 90%;
        height: 35vh;
        padding: 1rem 1rem 1rem 2rem;
    }

    .gallary-page-container {
        gap: 2rem;
    }
}

/*---Imagenes de los Articulos---*/
@media(min-width: 1px) {

    .art-size-1 {
        grid-column: 4/7;
        margin-top: .8rem;
        margin-bottom: .8rem;
        height: 40vh;
        overflow: hidden;
    }

    .art-size-1 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .art-size-2 {
        grid-column: 4/7;
        margin-top: .8rem;
        margin-bottom: .8rem;
        height: 70vh;
        overflow: hidden;
    }

    .art-size-2 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .art-size-3 {
        grid-column: 3/8;
        margin-top: .8rem;
        margin-bottom: .8rem;
        height: 60vh;
        overflow: hidden;
    }

    .art-size-3 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.35s ease-in-out all;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .art-size-4 {
        grid-column: 3/8;
        margin-top: .8rem;
        margin-bottom: .8rem;
        height: 60vh;
        overflow: hidden;
    }

    .art-size-4 img {
        width: auto;
        min-width: 100%;
        height: 100%;
        transition: 0.35s ease-in-out all;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .art-size-1:hover img,
    .art-size-2:hover img,
    .art-size-3:hover img,
    .art-size-4:hover img {
        transform: scale(1.2);
    }


    .art-size-banner {
        grid-column: 1/10;
        height: 80vh;
        width: 100%;
        top: 0;
        overflow: hidden;
    }

    .art-size-banner img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*---Responsive Imagenes de los Articulos---*/
@media(max-width: 600px) {

    .art-size-1 {
        width: 90%;
    }

    .art-size-2 {
        width: 90%;
    }

    .art-size-3 {
        width: 98%;
    }

}

/*---Imagenes de las Galerias---*/
@media(min-width: 1px) {

    .size-0 {
        box-sizing: border-box;
        width: 90%;
        height: 70vh;
    }

    .size-1 {
        box-sizing: border-box;
        width: calc(100% - 1rem);
        height: 70vh;
    }

    .size-2 {
        box-sizing: border-box;
        width: calc(50% - 1rem);
        height: 50vh;
    }

    .size-3 {
        box-sizing: border-box;
        width: calc(33.33% - 1rem);
        height: 50vh;
    }

    .size-6 {
        box-sizing: border-box;
        width: calc(66.66% - .5rem);
        height: 50vh;
    }

    .size-g {
        box-sizing: border-box;
        height: 60vh;
        width: 49%;
    }

    .size-0 img,
    .size-1 img,
    .size-2 img,
    .size-3 img,
    .size-6 img,
    .size-g img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .size-0:hover img,
    .size-1:hover img,
    .size-2:hover img,
    .size-3:hover img,
    .size-6:hover img,
    .size-g:hover img {
        transform: scale(1.2);
    }

}

/*---Responsive Imagenes de las Galerias---*/
@media(max-width: 600px) {

    .size-0,
    .size-1,
    .size-2,
    .size-3,
    .size-6,
    .size-g {
        box-sizing: border-box;
        width: calc(100% - 2.6rem);
        height: 70vh;
    }

}